header {
  margin-left:10%;
  margin-right:10%;
  background-color:floralwhite;
}
article {
  margin-left:10%;
  margin-right:10%;
}
footer {
  margin-left:10%;
  margin-right:10%;
}
h1 {
  text-align: center;
  color: navy;
  padding-top: 16px;
  padding-bottom: 1px;
}
.form-row {
  margin-top: 6px;
}
input {
  border-radius:4px;
  padding:2px;
  height:32px;
  border:solid thin lightgray;
  font-size:11pt;
}
select {
  border-radius:4px;
  padding:2px;
  height:32px;
  border:solid thin lightgray;
  font-size:11pt;
}
button {
  border-radius:4px;
  padding:4px;
  height:40px;
}
.message {
  text-align: center;
  font-size: 1.2em;
  color: fuchsia;
  padding: 8px;
}
.menu {
  margin-top:4px;
  margin-bottom:4px;
  padding: 3px;
  background-color:azure;
}
form {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 16px;
  margin-bottom: 16px;
}
.form-row {
  display: flex;
  flex-direction: row;
  padding: 2px;
}
.form-column-label {
  padding: 3px;
  width: 120px;
}
.form-column-control {
  padding: 3px;
}
:any-link, :visited {
  color:rgb(46, 43, 226);
  text-decoration: none;
}
table {
  border-collapse:collapse;
}
th {
  border: solid thin silver;
  border-collapse:collapse;
  background-color:whitesmoke;
  text-align:center;
  padding:3px;
}
td {
  border: solid thin silver;
  border-collapse:collapse;
  padding:2px;
  font-size:11pt;
}